

.Título{
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 2rem;
}

.foto{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 50%;
    padding: auto;
    justify-items: center;
    
}




nav{
    background-color: black;
    padding: 1rem;
    color: white;
    text-align: center;
    margin: 1rem;
    padding: 3rem;
}

#Botón1{
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 1rem;
    padding: 0.3rem;
}
#Botón2{
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 1rem;
    padding: 0.3rem;
}
#Botón3{
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 1rem;
    padding: 0.3rem;
}
#Botón4{
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 1rem;
    padding: 0.3rem;
}